<h1>{{ projectDescription }}</h1>

<hr />
Testing around the lib and push to Github.

<div *ngIf="states$ | async as states; else noState">
  <p>There are {{ states.length }} item(s) returning by StateService!</p>
  <p>oops-lib002 service loading data is working!</p>
</div>

<ng-template #noState>
  <p>There is no item returning by StateService!</p>
  <p>oops-lib002 error and asset/mockdata/ maybe not existing!</p>
</ng-template>

<hr />

<ng-container *ngIf="randomItems$ | async as randomItems">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of randomItems">
        <td>{{ item.id }}</td>
        <td><div [innerHtml]="item.name"></div></td>
      </tr>
    </tbody>
  </table>
</ng-container>
